.venv/*
.venv2/*
rss-opinion-credentials.json
terraform/.terraform.lock.hcl
terraform/function_source.zip
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/terraform.tfstate
rss-opinion/__pycache__/
rss-opinion/elabc
rss-opinion/elmundo
rss-opinion/eldebate
rss-opinion/tweeting.py
rss-opinion/source.py
keys.txt
bearer_token.txt
rss-opinion/x-post.py
rss-opinion/post.py
rss-opinion/testing.py
.vscode/settings.json
